<!-- You can change the content of here by editing config.toml -->

{{ $globalScope := . }}
{{ with .Site.Params.article_first}}
{{ if or .title .body }}
<div class="article-inner-first">

	<h2>
        {{ .title }}
	</h2>
	<p>
        {{ .body }}
	</p>

</div>
{{ end }} <!-- end for if .show -->
<div class="social-right">
{{ partial "article_first_social" $globalScope }}
{{ if .rss_show }}
  <a href="{{ $.Site.RSSLink }}"><i class="fa fa-rss-square fa-lg"></i></a>
{{ end }} <!-- end for if .rss_show -->
</div>
{{ end }} <!-- end for with -->
