<header class="article-header">
  <a href="{{ .Permalink }}" class="permalink">
    <h1 class="article-title" itemprop="name">
      {{ .Title }}
    </h1>
  </a>
  <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time>
  <div class="article-meta">

    {{ $categoryLen := 0 }}
    {{ if .Params.categories }}
      {{ $categoryLen := len .Params.categories }}
    {{ end }}
    {{ if gt $categoryLen 0 }}
    <div class="article-category">
      <i class="fa fa-folder"></i>
      {{ range $k, $v := .Params.categories }}
      <a class="article-category-link" href="{{ $.Site.BaseURL }}categories/{{ . | urlize | lower }}">{{ . }}</a>
      {{ if lt $k (sub $categoryLen 1) }},{{ end }}
      {{ end }}
    </div>
    {{ end }}
    {{ $tagsLen := 0 }}
    {{ if .Params.categories }}
      {{ $tagsLen := (and .Params.tags (len .Params.tags)) }}
    {{ end }}
    {{ if gt $tagsLen 0 }}
    <div class="article-category">
      <i class="fa fa-tag"></i>
      <!--<i class="fa fa-file"></i>-->
      {{ range $k, $v := .Params.tags }}
      <a class="article-category-link" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>
      {{ if lt $k (sub $tagsLen 1) }}, {{ end }}
      {{ end }}
    </div>
    {{ end }}
  </div>
</header>
