  {{ with .Site.Social.github }}
  <a href="//github.com/{{.}}" target="_blank" title="Github"><i class="fa fa-github fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.bitbucket }}
  <a href="//bitbucket.com/{{.}}" target="_blank" title="Bitbucket"><i class="fa fa-bitbucket fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.jsfiddle }}
  <a href="//jsfiddle.com/{{.}}" target="_blank" title="JSFiddle"><i class="fa fa-jsfiddle fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.codepen }}
  <a href="//codepen.io/{{.}}" target="_blank" title="Codepen"><i class="fa fa-codepen fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.foursquare }}
  <a href="//foursquare.com/{{.}}" target="_blank" title="Foursquare"><i class="fa fa-foursquare fa-lg"></i></a>
  {{ end  }}

  {{ with .Site.Social.dribbble }}
  <a href="//dribbble.com/{{.}}" target="_blank" title="Dribbble"><i class="fa fa-dribbble fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.deviantart }}
  <a href="//{{.}}.deviantart.com/" target="_blank" title="Deviantart"><i class="fa fa-deviantart fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.behance }}
  <a href="//behance.net/{{.}}" target="_blank" title="Behance"><i class="fa fa-behance fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.flickr }}
  <a href="//flickr.com/photos/{{.}}" target="_blank" title="Flickr"><i class="fa fa-flickr fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.instagram }}
  <a href="//instagram.com/{{.}}" target="_blank" title="Instagram"><i class="fa fa-instagram fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.youtube }}
  <a href="//youtube.com/{{.}}" target="_blank" title="Youtube"><i class="fa fa-youtube fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.vimeo }}
  <a href="//vimeo.com/{{.}}" target="_blank" title="Vimeo"><i class="fa fa-vimeo fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.vine }}
  <a href="//vine.co/{{.}}" target="_blank" title="Vine"><i class="fa fa-vine fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.medium}}
  <a href="//medium.com/@{{.}}" target="_blank" title="Medium"><i class="fa fa-medium fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.wordpress }}
  <a href="//{{.}}.wordpress.com" target="_blank" title="Wordpress"><i class="fa fa-wordpress fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.tumblr }}
  <a href="//{{.}}.tumblr.com" target="_blank" title="Tumblr"><i class="fa fa-tumblr fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.xing }}
  <a href="//xing.com/profile/{{.}}" target="_blank" title="Xing"><i class="fa fa-xing fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.linkedin }}
  <a href="//linkedin.com/in/{{.}}" target="_blank" title="Linkedin"><i class="fa fa-linkedin fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.slideshare }}
  <a href="//slideshare.com/{{.}}" target="_blank" title="Slideshare"><i class="fa fa-slideshare fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.stackoverflow }}
  <a href="//stackoverflow.com/users/{{.}}" target="_blank" title="Stackoverflow"><i class="fa fa-stackoverflow fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.reddit }}
  <a href="//reddit.com/user/{{.}}" target="_blank" title="Reddit"><i class="fa fa-reddit fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.pinterest }}
  <a href="//pinterest.com/{{.}}" target="_blank" title="Pinterest"><i class="fa fa-pinterest fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.googleplus }}
  <a href="//plus.google.com/+{{.}}" target="_blank" title="Google+"><i class="fa fa-google-plus fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.facebook }}
  <a href="//facebook.com/{{.}}" target="_blank" title="Facebook"><i class="fa fa-facebook fa-lg"></i></a>
  {{ end }}

  {{ with .Site.Social.twitter }}
  <a href="//twitter.com/{{.}}" target="_blank" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
  {{ end }}
