{{ template "_internal/google_analytics.html" . }}
<script src="{{ .Site.BaseURL }}bower_components/jquery/dist/jquery-2.2.0.min.js "></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
<script src="{{ .Site.BaseURL }}fancybox/jquery.fancybox.pack.js"></script>
<script src="{{ .Site.BaseURL }}js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- MathJax -->
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
   tex2jax: {
     inlineMath: [['$','$'], ['\\(','\\)']]}
 });
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!-- hotkeys -->
<script src="{{ .Site.BaseURL }}js/jquery.hotkeys.js "></script>

<!-- bootstrap -->
<script src="{{ .Site.BaseURL }}bower_components/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}bower_components/bootstrap/js/dropdowns-enhancement.js"></script>

<!-- talaria -->
<script type="text/javascript" src="{{ .Site.BaseURL }}bower_components/bluebird/js/browser/bluebird.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}bower_components/talaria/dist/talaria.js"></script>

<!-- tagcanvas -->
<!--[if lt IE 9]><script type="text/javascript" src="{{ .Site.BaseURL }}bower_components/tagcanvas/excanvas.js"></script><![endif]-->
<script src="{{ .Site.BaseURL }}bower_components/tagcanvas/tagcanvas.min.js" type="text/javascript"></script>
<script type="text/javascript">
 $(document).ready(function() {
   try {
     TagCanvas.Start('tagcanvas','tags',{
       textColour: '#777',
       outlineColour: '#333',
       reverse: true,
       depth: 0.8,
       maxSpeed: 0.05
     });
     var width = $('#canvascontainer').width();
     $('#tagcanvas').width(width);
     $('#tagdefault').hide();
   } catch(e) {
     // something went wrong, hide the canvas container
     $('#canvascontainer').hide();
   }

   $(window).resize(function() {
     var width = $('#canvascontainer').width();
     $('#tagcanvas').width(width);
   });
 });
</script>

<!-- highlightjs -->
<!--<script src="{{ .Site.BaseURL }}bower_components/highlightjs/highlight.pack.min.js"></script>-->
