<div class="archive-member col-sm-4 col-md-3 col-xs-2">
    <div class="archive-member-inner">

        <div class="archive-member-thumbnail">

            {{ if isset .Params "avatar" }}
            <a href="{{ .Permalink }}" class="thumbnail">
                <span style="background-image:url({{ .Site.BaseURL }}{{ .Params.avatar}})" alt="{{ .Title }}" class="thumbnail-image"></span>
            </a>
            {{ else }}
            <a href="{{ .Permalink }}" class="thumbnail">
                <span class="thumbnail-image thumbnail-none"></span>
            </a>
            {{ end }}
        </div>
        <div class="archive-member-header">
            <span itemprop="name" class="display-name">
                <a class="archive-member-title" href="{{ .Permalink }}">{{ .Title }}</a>&nbsp;
            </span>
            <div class="archive-member-date">
                <!--<i class="fa fa-calendar"></i>-->
                <!-- <div> {{.Params.position}} </div> -->
                {{ if isset .Params "email" }}
                <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>&nbsp;
                {{ end }}
            </div>
        </div>
    </div>
</div>
