{{ partial "head" . }} {{ partial "header" . }}

<div id="container">
    <div class="outer">
        <section id="main">
            <section class="archives-wrap">
                <div class="archive-category-wrap">
                    <span class="archive-category">{{ .Title }}</span>
                </div>
                <div class="archives">
                    {{ $pages_origin := .Data.Pages.ByWeight }}
                    {{ range $positions := $.Site.Params.members}}
                        {{ $members := where $pages_origin "Params.position" $positions.position}}
                        {{ if len $members }}
                            <div class="row">
                                <div class="member-position col-sm-12 col-md-12 col-xd-12">
                                    <h1>{{ $positions.position }}</h1>
                                </div>
                            {{ range $members }}
                                {{ if eq .Params.position $positions.position}}
                                    {{ .Render "summary" }}
                                {{ end }}
                            {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </section>
        </section>
        {{ partial "sidebar" . }}
    </div>
</div>

{{ partial "footer" . }}
</body>
</html>
